
@{
    Layout = null;
}

<html>
<head>
    <title>My Little ReactJs Sandbox</title>
</head>
<body>
    <div id="content"></div>
    <script src="https://fb.me/react-0.14.0.min.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.min.js"></script>
    <script src="~/scripts/showdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/<react-version>/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/<react-version>/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/<version>/react-bootstrap.min.js"></script>
    <script>
        var Alert = ReactBootstrap.Alert;
    </script>
    <script src="@Url.Content("~/Scripts/Main.jsx")"></script>
</body>
</html>
